{% if site.footer_fixed %}
<footer class="fixed-bottom">
  <div class="container mt-0">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
    {%- if site.impressum_path -%}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {%- endif -%}
    {%- if site.last_updated -%}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {%- endif %}
  </div>
  <!-- Google Translate -->
  <div id="google_translate_element" style="text-align:center; padding: 10px 0;"></div>
  <script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      { pageLanguage: 'en', includedLanguages: 'zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE },
      'google_translate_element'
    );
  }
  </script>
  <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</footer>
{%- else -%}
<footer class="sticky-bottom mt-5">
  <div class="container">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
    {%- if site.impressum_path -%}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {%- endif -%}
    {%- if site.last_updated -%}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {%- endif %}
  </div>
  <!-- Google Translate -->
  <div id="google_translate_element" style="text-align:center; padding: 10px 0;"></div>
  <script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      { pageLanguage: 'en', includedLanguages: 'zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE },
      'google_translate_element'
    );
  }
  </script>
  <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</footer>
{%- endif %}